@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&family=Roboto+Slab:wght@300&display=swap');

$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Montserrat', sans-serif;

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $primary-font;
  background-color: #fafafa;
}

h1 {
  font-family: $secondary-font;
}

.faded-black {
  font-family: $secondary-font;
  font-size: 0.875rem;
  opacity: 0.5;
  color: #121212;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.App {
  padding: 2rem;
}
